<template>
    <div
        class="bg-gradient-to-br from-blue-300 to-blue-500 min-h-screen d-flex align-items-center justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="max-w-md bg-white shadow-md rounded-lg p-6 mb-4">
                        <h2 class="text-2xl font-bold mb-4 text-gray-800">Championship Tournament Table</h2>
                        <div class="table-responsive mb-4">
                            <table class="table table-bordered table-striped">
                                <thead class="bg-gray-50">
                                <tr>
                                    <th>Team</th>
                                    <th>Points</th>
                                    <th>Wins</th>
                                    <th>Draws</th>
                                    <th>Losses</th>
                                    <th>GD</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="team in tournamentTable" :key="team.id">
                                    <td>{{ team.team_name }}</td>
                                    <td>{{ team.totalPoints }}</td>
                                    <td>{{ team.numberOfAwayWins + team.numberOfHomeWins }}</td>
                                    <td>{{ team.numberOfDraws }}</td>
                                    <td>{{ team.numberOfAwayLosses + team.numberOfHomeLosses }}</td>
                                    <td>{{ team.goalDifference }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="d-flex justify-content-between">
                            <button v-if="week<maxWeeks" class="btn btn-primary" @click="playAll"
                                    :disabled="playAllButtonDisabled">Play All
                            </button>
                            <button v-else class="btn btn-primary" @click="playAgain">Play Again</button>
                            <button class="btn btn-primary" @click="nextWeek"
                                    v-if="week<maxWeeks && !playAllButtonDisabled">Next Week
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 d-flex align-items-center justify-content-center">
                    <div class="max-w-md bg-white shadow-md rounded-lg p-6">
                        <h3 class="text-2xl font-bold mb-4 text-gray-800">Match results</h3>
                        <div v-for="(game, gameId) in weekResults" :key="gameId">
                            <div>
                                {{ game.home_team_name }} {{ game.home_team_goals }} -
                                {{ game.away_team_goals }} {{ game.away_team_name }}
                            </div>
                            <button class="btn btn-primary btn-sm mx-2" @click="editResult(gameId)">Edit</button>
                            <div v-if="editingIndex === gameId && week < maxWeeks">
                                <div class="d-flex align-items-center">
                                    <input type="number" v-model="editedResults[gameId].home_team_goals"
                                           class="form-control form-control-sm mr-2">
                                </div>
                                <div class="d-flex align-items-center mt-2">
                                    <input type="number" v-model="editedResults[gameId].away_team_goals"
                                           class="form-control form-control-sm mr-2">
                                </div>
                                <button class="btn btn-success btn-sm mt-2" @click="saveResult(gameId)">Save</button>
                            </div>
                            <br/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="max-w-md bg-white shadow-md rounded-lg p-6" v-if="week<maxWeeks">
                        <h2 class="text-2xl font-bold mb-4 text-gray-800">
                            {{ getWeekPredictionTitle(week) }} week Predictions of Championship
                        </h2>
                        <div class="table-responsive mb-4">
                            <table class="table table-bordered table-striped">
                                <thead class="bg-gray-50">
                                <tr>
                                    <th>Team</th>
                                    <th>Chances to win, %</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(chance, key) in weekPredictions" :key="key">
                                    <td>{{ key }}</td>
                                    <td>{{ chance === 0 ? '&asymp;' + chance : chance }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    data() {
        return {
            week: 1,
            maxWeeks: 6,
            weekResults: [],
            weekPredictions: [],
            tournamentTable: [],
            editingIndex: -1,
            editedResults: [],
            playAllButtonDisabled: false
        };
    },
    async mounted() {
        await this.fetchTournamentTable();
    },
    methods: {
        async fetchTournamentTable() {
            try {
                const response = await axios.get('/api/tournament-table');
                this.tournamentTable = response.data;
                this.week = this.tournamentTable[0].numberOfGames;
                await this.getWeekResults(this.week);
                await this.getWeekPredictions(this.week);
            } catch (error) {
                console.error('Error fetching tournament table:', error);
            }
        },
        async simulateWeek(week) {
            try {
                const response = await axios.post(`/api/simulate-week/${week}`);
                await this.fetchTournamentTable();
            } catch (error) {
                console.error('Error simulate week:', error);
            }
        },
        async getWeekResults(week) {
            try {
                const response = await axios.post(`/api/week-results/${week}`);
                this.weekResults = response.data;
            } catch (error) {
                console.error('Error get week:', error);
            }
        },
        async getWeekPredictions(week) {
            try {
                const response = await axios.post(`/api/week-predictions/${week}`, this.tournamentTable);
                this.weekPredictions = response.data;
            } catch (error) {
                console.error('Error get week predictions:', error);
            }
        },
        async playAll() {
            this.playAllButtonDisabled = true
            for (let i = this.week; i < this.maxWeeks; i++) {
                await this.nextWeek();
                this.week++;
                await this.delay(2000);
            }
            this.playAllButtonDisabled = false;
        },
        delay(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        },
        nextWeek() {
            this.simulateWeek(this.week + 1);
        },
        getWeekPredictionTitle(week) {
            const suffixes = ["th", "st", "nd", "rd", "th", "th", "th", "th", "th", "th"];
            const lastDigit = week % 10;
            if (lastDigit >= 1 && lastDigit <= 3 && (week < 11 || week > 13)) {
                return week + suffixes[lastDigit];
            } else {
                return week + "th";
            }
        },
        async playAgain() {
            try {
                await axios.get('/api/start-simulation');
                location.reload();
                console.log('Started new simulation');
            } catch (error) {
                console.error('Error starting simulation:', error);
            }
        },
        editResult(gameId) {
            this.editingIndex = gameId;
            const game = this.weekResults[gameId];
            this.editedResults[gameId] = {
                home_team_goals: game.home_team_goals,
                away_team_goals: game.away_team_goals
            };
        },
        async saveResult(index) {
            try {
                await axios.put(`/api/update-result/${index}`, this.editedResults[index]);
                this.editingIndex = -1;
                this.editedResults[index] = '';
                await this.fetchTournamentTable();
            } catch (error) {
                console.error('Error updating result:', error);
            }
        }
    }
};
</script>
