<template>
    <div class="bg-gradient-to-br from-blue-300 to-blue-500 min-h-screen flex items-center justify-center">
        <div class="container-lg">
            <div class="row">
                <div class="col-md-8 d-flex justify-content-center">
                    <div class="max-w-lg bg-white shadow-md rounded-lg p-6 mb-4">
                        <h2 class="text-2xl font-bold mb-4 text-gray-800">Championship Simulator</h2>
                        <button @click="startSimulation" class="btn btn-primary">Start Simulation</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {defineComponent} from 'vue';
import {RouterLink} from 'vue-router';
import axios from 'axios';

export default defineComponent({
    components: {
        RouterLink
    },
    methods: {
        startSimulation() {
            axios.get('/api/start-simulation')
                .then(response => {
                    this.$router.push('/calendar');
                })
                .catch(error => {
                    console.error('Error starting simulation:', error);

                });
        }
    }
});
</script>

<style scoped>
.container-lg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
</style>
